html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    font-family: 'Saira Extra Condensed', sans-serif;
  }
  p {
    font-family: 'Saira Extra Condensed', sans-serif;
  }  
  
